# local mkcert generated certificates for https
# Do not commit credentials
.npmrc
# Used by docker hoisting system, keeps e.g. docker container bash history. See `justfile`
/.tmp
# compiled website
/dist
# dependencies
node_modules
src/debug.css