
.borderFatSolidBlue {
  border: 5px solid blue;
}

.borderFatSolidGreen {
  border: 5px solid green;
}

.borderDashedPurple {
  border: 4px dashed purple;
}

.borderDashedRed {
  border: 2px dashed red;
}

.borderDashedBlue {
  border: 2px dashed blue;
}

.borderFatDashedBlack {
  border: 5px dashed black;
}

.borderFatSalmon {
  border: 8px solid salmon;
}

.borderFatSolidOrange {
  border: 5px solid rgb(255, 153, 0);
}
